<!DOCTYPE html>
<html>
    <head>
        <title>To Do List</title>

        {% load static %}
        <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">

    
    </head>
    <body>
        <div class="wrapper">
        <header>
            <h1 class="header">To Do List</h1>
            <nav class="navbar">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'tasks' %}">Your To Do List</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'logout' %}">Logout</a>
            </nav>
        </header>
        
        {% block content %}
        {% endblock content %}
        
        <footer>
            <small>&copy; 2018 - 2021   ---All Rights Reserved ~ Authored by Diego Falcon</small>
        </footer>
    </div>
    </body>
</html>